<form [formGroup]="form" (ngSubmit)="submit()">
	<h4 class="font-bold text-2xl my-2 text-center">New product</h4>
	<label class="mb-6 block">
		<span class="mb-2 inline-block">Title</span>
		<input appFocus formControlName="title" type="text" name="title" class="border rounded-sm px-3 py-1 w-full">
		<span *ngIf="form.controls['title'].errors?.['minlength'] && title.touched" class="error text-red-600">Your title lesss than 6. your length {{ title.value.length }}</span>
	</label>
	<label class="mb-6 block">
		<span class="mb-2 inline-block">Price</span>
		<input formControlName="price" type="number" name="price" class="border rounded-sm px-3 py-1 w-full">
		<span *ngIf="form.controls['price'].touched && form.controls['price'].value === 0" class="error text-red-600">Required field</span>
	</label>
	<label class="mb-6 block">
		<span class="mb-2 inline-block">Decription</span>
		<input appFocus formControlName="description" type="text" name="description" class="border rounded-sm px-3 py-1 w-full">
		<span *ngIf="form.controls['description'].errors?.['minlength']  && form.controls['description'].touched" class="error text-red-600">Your title lesss than 6. your length</span>
	</label>
	<label class="mb-6 block">
		<span class="mb-2 inline-block">Category</span>
		<input appFocus formControlName="category" type="text" name="category" class="border rounded-sm px-3 py-1 w-full">
		<span *ngIf="form.controls['category'].errors?.['minlength']  && form.controls['category'].touched" class="error text-red-600">Your title lesss than 2. your length</span>
	</label>
	<label class="mb-6 block">
		<span class="mb-2 inline-block">Image</span>
		<input appFocus formControlName="image" type="text" name="image" class="border rounded-sm px-3 py-1 w-full">
		<span *ngIf="form.controls['image'].invalid && form.controls['image'].touched" class="error text-red-600">Please paste image link</span>
	</label>
	<button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-sm mt-6 block">Submit</button>
</form>

<app-notification [title]="notificationTitle" *ngIf="notificationService.isNotification$ | async"></app-notification>