<div class="container mx-auto min-h-screen flex flex-col">
	<app-navigation></app-navigation>
	<div class="flex items-center justify-between mt-24">
		<h1 class="text-3xl font-bold">Hey there, {{ (user$ | async)?.displayName || 'User' }}</h1>
		<button pButton label="Logout" icon="pi pi-sign-out" [text]="true" (click)="logout()"></button>
	</div>

	<p-tabs value="0" class="mt-8">
		<p-tablist>
			<p-tab value="0">Personal Info</p-tab>
			<p-tab value="1">Order History</p-tab>
		</p-tablist>
		<p-tabpanels>
			<p-tabpanel value="0">
				<app-personal-info></app-personal-info>
			</p-tabpanel>
			<p-tabpanel value="1">
				<app-order-history></app-order-history>
			</p-tabpanel>
		</p-tabpanels>
	</p-tabs>
	<app-footer class="mt-auto"></app-footer>
</div>
