<div class="relative py-4 px-6 flex rounded items-center flex-col sm hover:shadow-lg group min-w-[14rem] min-h-[12rem] md:min-w-[16rem] md:min-h-[15rem]">
	<a [routerLink]="'/products/' + product._slug" class="flex flex-col items-center w-full">
		<div class="image w-24 h-24">
			@if (product.cover) {
				<img class="w-full h-full object-cover" [src]="product.cover.url" [alt]="product.title" />
			} @else {
				<div class="w-full h-full bg-gray-200 flex items-center justify-center text-gray-400">No image</div>
			}
		</div>
		<figcaption class="content flex justify-center">
			<h2 class="text-sm font-bold mt-4 w-[90%] text-center group-hover:text-pesianGreen transition-all">
				{{ product.title }}
			</h2>
		</figcaption>
	</a>
	<p-button severity="contrast" class="add-to-cart w-auto h-[3rem]" (click)="addToCart($event)">Додати в корзину</p-button>
</div>
