
<section class="home bg-darkGreen w-full h-[100vh] flex items-center justify-between">
  <img class="absolute bottom-0 left-0 mix-blend-multiply w-64" src="/assets/mobile_home_left.png" alt="">
  <app-navigation class="relative z-10 "></app-navigation>
  <h1 class="title text-[12vw] font-bold"><span class="text-munsell">O</span><span class="text-[#123f3b]">rising</span></h1>
  <app-social-media></app-social-media>
  <img class="absolute top-0 right-0 mix-blend-multiply w-96 scale-[-1]" src="/assets/mobile_home_left.png" alt="">
</section>
