@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
	@tailwind base;
}

@layer tailwind-utilities {
	@tailwind components;
	@tailwind utilities;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800;900;&display=swap');

body {
	font-family: 'Lato', sans-serif;
}

/* Load after Tailwind so preflight doesn't override icon font */
@import 'primeicons/primeicons.css';
