<app-global-error></app-global-error>
<app-navigation></app-navigation>


	<!-- <label class="flex flex-col mb-3 mx-4">
		<span class="font-bold">Filter products</span>
		<input [(ngModel)]="filter" class="border mt-2 rounded-sm px-3 py-1 focus:border-gray-500" type="text" name="filter">
	</label>
	<span>{{ filter }}</span> -->


	<p *ngIf="loading" class="loading text-center font-bold">
		loading products..
	</p>

  <div class="container flex max-w-[100%]">
    <div class="w-4/12">
      <product-categories></product-categories>
    </div>
    <div *ngIf="products" class="flex flex-wrap justify-around mt-16 w-8/12">
      @if(products.length === 0) {
        <p class="text-center font-bold">No products found</p>
      }
      @else {
        @for (item of products; track item.slug) {
          <app-product class="flex w-60" [product]="item"></app-product>
        }
      }
    </div>
  </div>


	<!-- <app-notification title="title" *ngIf="notificationService.isNotification$ | async"></app-notification> -->


	<!-- <button (click)="notificationService.open()" class="rounded-full bg-red-500 text-white fixed bottom-2 right-2 h-12 w-12">+</button> -->
