<app-global-error></app-global-error>

<div class="wrapper flex justify-center items-center h-full flex-col">
	<h4 class="font-bold text-xl mb-12">Please sign in</h4>
	<form [formGroup]="form" (ngSubmit)="submit()" class="w-1/2">
		<!-- <label>
      <span class="mb-2 inline-block">User Name</span>
      <input appFocus formControlName="userName" type="text" name="userName" class="border rounded-sm px-3 py-1 w-full">
      <span *ngIf="userName.errors?.['minlength'] && userName.touched" class="error text-red-600">Your Name lesss than 2</span>
    </label> -->
		<label>
			<span class="mb-2 inline-block">Email</span>
			<input appFocus formControlName="email" type="text" name="email" class="border rounded-sm px-3 py-1 w-full" />
			<span *ngIf="email.errors?.['minlength'] && email.touched" class="error text-red-600">Your title lesss than 6. your length {{ email.value.length }}</span>
		</label>
		<label>
			<span class="mb-2 inline-block">Password</span>
			<input appFocus formControlName="password" type="text" name="password" class="border rounded-sm px-3 py-1 w-full" />
			<span *ngIf="password.errors?.['minlength'] && password.touched" class="error text-red-600"
				>Your title lesss than 6. your length {{ password.value.length }}</span
			>
		</label>

		<button
			type="submit"
			class="text-white px-4 py-2 rounded-sm mt-2"
			[ngClass]="{ 'bg-slate-600': !form.valid, 'bg-blue-600': form.valid }"
			[disabled]="!form.valid">
			Submit
		</button>
	</form>
</div>

<button (click)="loginWithGoogle()">Log in with Google</button>
